{% extends "base.html" %}
{% block meta %}
    <title>Portofolio - {{ nickname }}</title>
{% endblock meta %}
{% block content %}
    <main>
        <section class="hero" id="profile">
            <div class="container hero-grid">
                <div class="hero-identity">
                    <p class="hero-kicker">Information Systems | Universitas Indonesia</p>
                    <h1>{{ name }}</h1>
                </div>
                <div class="hero-photo">
                    <div class="photo-block"></div>
                    <img class="avatar" src="/static/img/gwen.png" alt="Photo of {{ nickname }}">
                </div>
                <div class="hero-details">
                    <p class="bio">{{ bio }}</p>
                    <dl class="meta-list">
                        <div class="meta-row">
                            <dt>NPM</dt>
                            <dd>{{ npm }}</dd>
                        </div>
                        <div class="meta-row">
                            <dt>Program</dt>
                            <dd>{{ study_program }}</dd>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="meta-row">
                                <dt>Last Login Session</dt>
                                <dd>{{ last_login }}</dd>
                            </div>
                        {% endif %}
                    </dl>
                    <div class="social-links">
                        <a href="https://github.com/stefanigwen14" class="social-link"> <i class="fa fa-github"></i> GitHub</a>
                        <a href="https://linkedin.com/in/stefanigwenrt" class="social-link"> <i class="fa fa-linkedin-square"></i> LinkedIn</a>
                        <a href="mailto:gwen.tumbelaka@gmail.com" class="social-link"> <i class="fa fa-envelope"> </i> Email</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="hero" id="what-i-do">
            <div class="cards-container">
                <h1>What I Do...</h1>
                <p>Summary of the stuff that I do and can offer.</p>
                <div class="cards-row">
                    <div class="cards">
                        <img class="cards-picture" src="/static/img/design.png" alt="Design & Illustration"> 
                        <h3> Design & Illustration </h3>
                        <h4> UI/UX, Graphic Design, Illustration </h4>
                    </div class="cards">
                    <div class="cards">
                        <img class="cards-picture" src="/static/img/academic.png" alt="Tutoring & Academcics">
                        <h3> Tutoring & Academics </h3>
                        <h4> UTBK Prep, Related to Maths </h4>
                    </div>
                    <div class="cards">
                        <img class="cards-picture" src="/static/img/programming.png" alt="Programming">
                        <h3> Programming </h3>
                        <h4> Python, Java, Web Development</h4> <!-- basic to intermediate... -->
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
